body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #e8e1e1;
    width: 80%;
    margin: auto;
    padding: 20px;
    display: none;
}

.container.active {
    display: block;
}

.hidden {
    display: none;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}



.cards, .categories {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card, .category {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 10px;
    text-align: center;
}

.category-content p {
    margin: 10px 0;
}

.category-content a {
    text-decoration: none;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

form label, form input, form button {
    margin: 10px 0;
}
.screen {
    display: none; /* Todas as telas são ocultas por padrão */
}

.screen.active {
    display: block; /* Apenas a tela ativa é exibida */
}
button {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}